<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">ToDoList&#8482;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">ToDoList
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<!--/.Navbar-->

	<header>
		<h1>ToDo<span>list</span></h1>
		<h2>Built by --yourname--</h2>
	</header>
    <br><br>
	<ul id="authors" class="list">
	</ul>

    <script>
        const ul = document.getElementById('authors');
        const url = 'https://jsonplaceholder.typicode.com/todos';
        var listItem;
        var count=0;
        fetch(url)
            .then((resp) => resp.json())
            .then(json => {
                for(var i = 0; i < json.length; i++) {
                    listItem = document.createElement('li');
                    listItem.innerHTML = json[i].title
                    ul.appendChild(listItem)
                    listItem.setAttribute("id", "task"+i)
                    
                    listItem.classList.add("list");
                    listItem.classList.add("task");
                    if(json[i].completed == true) {
                        listItem.classList.add("done");
                    }
                    listItem.addEventListener("click", taskDone)
                }
            })
            .catch(function(error){
                console.log(error);
            }
        );

        function taskDone(){
            this.classList.add("done")
            count++;
            let promise = new Promise(resolve => {
                if(count==5){
                    resolve("Congrats. 5 Tasks have been Successfully Completed");
                }
            });
            promise.then(alert);
        }

    </script>

     <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

