@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 
body {
	font-family: 'Montserrat', sans-serif;
	background: #ecf0f1;
}

/*****************************FORM STYLES*****************************/
.form {
	width: 800px;
	margin: 50px auto 20px;
}

#todoInput {
	width: 95%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	padding: 20px;
	color: #34495e;
}

/*****************************HEADER STYLES*****************************/
header {
	text-align: center;
}
header h1 {
	font-size: 4rem;
	font-weight: 300;
	margin: 80px 0 20px;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #bdc3c7;
	font-weight:300;
}

/*****************************LIST STYLES*****************************/

.list {
	width: 800px;
	margin: 0 auto;
}
.task {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 1.3rem;
	padding: 0 20px;
	color: #34495e;
  transition: all .3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}
  
  div.well{
	height: 250px;
  } 
  
  .Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
	width: 50%; 
	height: 50%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
  }
  
  #logo-container{
	margin: auto;
	margin-bottom: 10px;
	width:200px;
	height:30px;
  }